
.sidebar-links li a{
  padding: 12px;
  color: var(--text-color);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  height: 56px;
  text-decoration: none;
  color: black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

/* Sidebar CSS */
.sidebar {
  background-color: grey;
  color: #fff;
  width: 200px;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.sidebar a:hover {
  color: #333;
}

/* Adjustments for main content */
.content {
  flex-grow: 1;
  padding: 20px;
}

/* Navbar CSS */
.navbar {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar a:hover {
  color: #555;
}

/* Home page CSS */
.homepage {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.homepage h1 {
  font-family: sans-serif;
  margin-bottom: 20px;
}

.homepage p {
  margin-bottom: 15px;
}

/* Campus card CSS & Student Card CSS */
.card-container {
  display: flex;
  flex-wrap: wrap;
}



.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  background:
        linear-gradient(#333, transparent),
        linear-gradient(to top left, grey, transparent),
        linear-gradient(to top right, #ccc, transparent);
    background-blend-mode: screen;
  overflow: hidden;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 250px;
}

.cards-image {
  background-color: #f2f2f2;
  
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 7px 7px 5px 5px;
}

.card-info {
  text-align: center;
}

/*add campus form & add student form */
.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background:
        linear-gradient(#333, transparent),
        linear-gradient(to top left, grey, transparent),
        linear-gradient(to top right, #ccc, transparent);
    background-blend-mode: screen;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.input-form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.input-form button {
  padding: 10px 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-form button:hover {
  background-color: grey;
}
/*Student submit add button & Campus submit add button*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.add-link {
  position: absolute;
  top: 8%;
  right: 50px;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-link:hover {
  background-color: grey;
}


.viewDetails-link {
  display: inline-block;
  padding: 3.5px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.viewDetails-link:hover {
  background-color: grey;
}

