
.sidebar-links li a{
  padding: 12px;
  color: var(--text-color);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  height: 56px;
  text-decoration: none;
  color: black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

/* Sidebar CSS */
.sidebar {
  background-color: grey;
  color: #fff;
  width: 200px;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.sidebar a:hover {
  color: #333;
  
}

/* Adjustments for main content */
.content {
  flex-grow: 1;
  padding: 20px;
}

/* Navbar CSS */
.navbar {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar a:hover {
  color: #555;
  box-shadow: 0 0 5px #2f4f4f, 0 0 25px #2f4f4f, 0 0 25px #5f9ea0, 0 0 100px black;

}

/* Home page CSS */
.homepage {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  background:
    linear-gradient(#333, transparent),
    linear-gradient(to top left, grey, transparent),
    linear-gradient(to top right, #ccc, transparent);
  background-blend-mode: screen;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.homepage h1 {
  font-family: sans-serif;
  margin-bottom: 20px;
}

.homepage p {
  margin-bottom: 15px;
}

/* Campus card CSS & Student Card CSS */
.card-container {
  display: flex;
  flex-wrap: wrap;
}



.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  background:
        linear-gradient(#333, transparent),
        linear-gradient(to top left, grey, transparent),
        linear-gradient(to top right, #ccc, transparent);
    background-blend-mode: screen;
  overflow: hidden;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 250px;
}

.cards-image {
  background-color: #f2f2f2;
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 7px 7px 5px 5px;
}

.card-info {
  text-align: center;
}
.cards h3{
  font-size: 1rem;
}
/*add campus form & add student form */
.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background:
        linear-gradient(#333, transparent),
        linear-gradient(to top left, grey, transparent),
        linear-gradient(to top right, #ccc, transparent);
    background-blend-mode: screen;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;

}

.input-form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.input-form button {
  padding: 10px 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-form button:hover {
  background-color: grey;
  box-shadow: 0 0 5px #2f4f4f, 0 0 25px #2f4f4f, 0 0 25px #5f9ea0, 0 0 100px black;

}
/*header, Student submit add button & Campus submit add button*/
.header {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.add-link {
  position: absolute;
  top: 8%;
  right: 20px;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: -15px;
}

.add-link:hover {
  background-color: grey;
  box-shadow: 0 0 5px #2f4f4f, 0 0 25px #2f4f4f, 0 0 25px #5f9ea0, 0 0 100px black;

}

/* view Detail button */

.viewDetails-link {
  display: inline-block;
  padding: 3.5px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.viewDetails-link:hover {
  background-color: grey;
  box-shadow: 0 0 5px #2f4f4f, 0 0 25px #2f4f4f, 0 0 25px #5f9ea0, 0 0 100px black;

}

/* View detail section of Student */

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background:
    linear-gradient(#333, transparent),
    linear-gradient(to top left, grey, transparent),
    linear-gradient(to top right, #ccc, transparent);
  background-blend-mode: screen;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 50rem; /* Adjust the width as needed */
  height: 45rem; /* Adjust the height as needed */
}

.details img {
  width: 15rem; /* Adjust the width as needed */
  height: 15rem; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  border-color: black;
  background-color: #ccc;
}

.details h2 {
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin-bottom: 5px;
}

.details h3 {
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin-bottom: 5px;
}

/* from Student view details to campus details button */

.tocampus-details {
  display: inline-block;
  padding: 3.5px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 0px;
  margin-top: 4px;
}

.tocampus-details:hover {
  background-color: grey;
  box-shadow: 0 0 5px #2f4f4f, 0 0 25px #2f4f4f, 0 0 25px #5f9ea0, 0 0 100px black;

}




/* Campus view details */

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh; /* Adjust the height as needed */
}

.details-campus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background:
    linear-gradient(#333, transparent),
    linear-gradient(to top left, grey, transparent),
    linear-gradient(to top right, #ccc, transparent);
  background-blend-mode: screen;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 25px;
  width: 50rem; /* Adjust the width as needed */
  height: 49rem; /* Adjust the height as needed */
}

.details-campus img {
  width: 20rem; /* Adjust the width as needed */
  height: 20rem; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  border-color: black;
  background-color: #ccc;
}

.details-campus h1 {
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin-bottom: 5px;
}

.details-campus h2{
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin-bottom: 5px;
}
/* Add student form Campus View details */
.add-stu {
  display: inline-block;
  padding: 3.5px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: -60px;
  margin-top: 4px;
}

.add-stu:hover {
  background-color: grey;
  box-shadow: 0 0 5px #2f4f4f, 0 0 25px #2f4f4f, 0 0 25px #5f9ea0, 0 0 100px black;

}

/* Remove Campus */

.remove {
  display: inline-block;
  padding: 3.5px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.remove:hover {
  background-color: grey;
  box-shadow: 0 0 5px #2f4f4f, 0 0 25px #2f4f4f, 0 0 25px #5f9ea0, 0 0 100px black;

}

/* Remove Student */
.remove-Student {
  display: inline-block;
  padding: 3.5px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 23px;
  /* margin-bottom: 10px; */
  margin-top: 4px;
}

.remove-Student:hover {
  background-color: grey;
  box-shadow: 0 0 5px #2f4f4f, 0 0 25px #2f4f4f, 0 0 25px #5f9ea0, 0 0 100px black;

}
/* update student from student view details */
.update-stu {
  display: inline-block;
  padding: 3.5px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 50px;
  margin-top: 4px;
}

.update-stu:hover {
  background: grey;

  box-shadow: 0 0 5px #2f4f4f, 0 0 25px #2f4f4f, 0 0 25px #5f9ea0, 0 0 100px black;
}
button{
  position: relative;
  border: none;
  transition: 4s ease-in;
  z-index: 1;
}
button::before,
button::after{
  position: absolute;
  content: " ";
  z-index: -1;
}